/* Variables */
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");

:root {
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 8%);
  --dark-fade: rgba(0, 0, 0, 0.35);
  --gray: hsl(0, 0%, 44%);
  --light-gray: hsl(0, 0%, 63%);
  --faded-gray: hsl(0, 0%, 88%);
  --font-italic: italic;
  --letter-spacing: 0.5rem;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

/* Global Styles */
body {
  font-size: 3vh;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}

.kramer img {
    height: 100px;
    width: 100px;
    top: 10px;
    left: 10px;
    position: fixed;
    z-index: 5;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vh;
    font-weight: bold;
    line-height: 0.9;
    text-align: center;
    font-style: var(--font-italic);
    letter-spacing: var(--letter-spacing);
    color: var(--white);
}

h4 {
    color: var(--dark);
    font-family: var(--font-family);
    font-style: var(--font-italic);
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 200;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(88, 88, 88, 0);
    z-index: 5;
}
  
nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 25px;
    display: inline-table;
}
  
nav ul li {
    float: left;
    transition: all 0.2s ease-in-out;
}
  
nav ul li:hover {
    background: rgba(0, 0, 0, 0.15);
}
  
nav ul li a {
    display: block;
    padding: 30px 20px;
    color: var(--white);
    font-size: 1em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
  
nav ul ul {
    display: none;
    background: rgba(255, 255, 255, 0.24);
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
  
nav ul ul li {
    float: none;
    position: relative;
}
  
nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
  
nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}
  
/* Footer */
footer {
    background-color: var(--dark);
    color: var(--white);
    padding: 50px 0;
    box-sizing: border-box;
}
  
.footer-grid {
    display: grid;
    grid-template-columns: 200px repeat(3, 1fr);
    gap: 30px;
    max-width: 1500px;
    margin: 0 auto;
}
  
.footer-logo {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer-logo img {
    height: 300px;
    width: 300px;
    margin-top: -60px;
    object-fit: cover;
    border-radius: 10px;
}
  
.footer-col {
    display: flex;
    flex-direction: column;
}
  
.footer-col h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
  
.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-col li {
    margin-bottom: 10px;
}
  
.footer-col a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s ease;
}
  
.footer-col a:hover {
    color: #ccc;
}
  
.copyright-line {
    border-top:2.5px solid #555;
    margin: 20px 0;
}
  
.copyright {
    text-align: center;
    font-size: 14px;
    color: #aaa;
}
  
.johann a:hover{
    color:#3366cc;
}
  
/* Miscellaneous */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
  
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Component Styles */
.main-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
  
.main-header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}
  
.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    max-width: 1024px;
    margin: 0 auto;
    font-family: var(--font-sans);
}
  
@media (min-width: 600px) {
    .page-content {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
      grid-template-columns: repeat(4, 1fr);
    }
}
  
.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 2rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
  
@media (min-width: 600px) {
    .card {
      height: 350px;
    }
}
  
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
  
.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
  
.card:nth-child(1):before {
    background-image: url(https://images.unsplash.com/photo-1551033406-611cf9a28f67?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
  
.card:nth-child(2):before {
    background-image: url(https://images.unsplash.com/photo-1551033406-611cf9a28f67?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
  
.card:nth-child(3):before {
    background-image: url(https://images.unsplash.com/photo-1551033406-611cf9a28f67?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
  
.card:nth-child(4):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(5):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(6):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(7):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(8):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(9):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(10):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(11):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(12):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(13):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(14):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(15):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.card:nth-child(16):before {
    background-image: url(https://images.unsplash.com/photo-1618389041494-8fab89c3f22b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
  
.content > * + * {
    margin-top: 1rem;
}
  
.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.35;
    color: var(--white);
}
  
.copy {
    font-family: Cardio;
    font-size: 20px;
    font-style: italic;
    line-height: 1.05;
}
  
.btn {
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}
  
.btn:hover {
    background-color: #0d0d0d;
}
  
.btn:focus {outline: 1px dashed yellow;
    outline-offset: 3px;
}
  
@media (hover: hover) and (min-width: 600px) {
    .card:after {
      transform: translateY(0);
    }
    .content {
      transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
      opacity: 0;
      transform: translateY(1rem);
      transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }
    .card:hover,
    .card:focus-within {
      align-items: center;
    }
    .card:hover:before,
    .card:focus-within:before {
      transform: translateY(-4%);
    }
    .card:hover:after,
    .card:focus-within:after {
      transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
      transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
    .card:focus-within .content > *:not(.title) {
      opacity: 1;
      transform: translateY(0);
      transition-delay: calc(var(--d) / 8);
    }
    .card:focus-within:before,
    .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content > *:not(.title) {
      transition-duration: 0s;
    }
}
