
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 3vh;
  }
  
  #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  #kramer {
    text-decoration: none;
    position: fixed;
    color: white;
    font-size: 1.8vh;
    font-weight: bold;
  }
  
  .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100vh;
      padding: 1em;
      box-sizing: border-box;
      color: white;
      background: url(https://upload.wikimedia.org/wikipedia/commons/a/a2/DB_BR_143_270_%2816528029695%29.jpg) center center no-repeat;
      background-size: cover;
  }
  
  .main-title {
      max-width: 16em;
      margin: 10vh auto;
      font-size: 12vh;
      font-weight: bold;
      line-height: 0.9;
      text-align: center; 
      font-style: italic;
  }
  
  /*| Navigation |*/
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
  }
  
  nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
  }
  
  nav ul li {
    float: left;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li:hover {
    background: rgba(0, 0, 0, 0.15);
  }
  
  
  nav ul li {
    float: left;
    transition: all 0.2s ease-in-out;
  }
  
  nav ul li a {
    display: block;
    padding: 30px 20px;
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  nav ul ul {
    display: none;
    background: rgba(255, 255, 255, 0.24);
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  nav ul ul li {
    float: none;
    position: relative;
  }
  
  nav ul ul li a {
    padding: 15px 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
  }
  
  /*| Footer |*/
  
  :root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 8%);
    --dark-fade: rgba(0, 0, 0, 0.35);
    --gray: hsl(0, 0%, 44%);
    --light-gray: hsl(0, 0%, 63%);
    --faded-gray: hsl(0, 0%, 88%);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    background-color: black;
    letter-spacing: 1px;
  }
  
  .Fußzeile-Hülle {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0px auto 0px;
  }
  
  .Fußzeile-Hülle li {
    display: inline-block;
    margin-top: 50px;
  }
  
  .Fußzeile-Hülle li:hover {
    color: var(--gray);
  }
  
  .Fußzeile-Hülle li, .gallery__fade {
    transition: all ease 0.3s;
  } 
  
  .Fußzeile-Copyright {
    color: var(--light-gray);
    text-align: center;
    padding-bottom: 15px;
  }
  
  .separador {
    background-color: var(--faded-gray);
    height: 2px;
    max-width: 30px;
    margin: 30px auto 20px;
    align-items: center;
  }