.navbar27-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar27-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar27-image1 {
  height: 3rem;
}
.navbar27-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar27-links {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.navbar27-link1 {
  text-decoration: none;
}
.navbar27-link2 {
  text-decoration: none;
}
.navbar27-link3 {
  text-decoration: none;
}
.navbar27-link4 {
  text-decoration: none;
}
.navbar27-link5 {
  text-decoration: none;
}
.navbar27-burger-menu {
  display: none;
}
.navbar27-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar27-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar27-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar27-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar27-logo {
  height: 3rem;
}
.navbar27-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar27-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar27-links1 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar27-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
@media (max-width: 767px) {
  .navbar27-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar27-desktop-menu {
    display: none;
  }
  .navbar27-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .navbar27-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar27-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero2-header5 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero2-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.hero2-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.hero2-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
}
.hero2-column {
  gap: 24px;
  width: auto;
  display: flex;
  z-index: 1;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.hero2-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.hero2-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.hero2-container1 {
  display: flex;
  align-items: flex-start;
}
.hero2-button {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary1);
}
.hero2-container2 {
  display: flex;
  align-items: flex-start;
}
.hero2-button1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
  text-decoration: none;
}
@media (max-width: 767px) {
  .hero2-header5 {
    justify-content: center;
  }
  .hero2-max-width {
    justify-content: center;
  }
  .hero2-column {
    width: 100%;
  }
  .hero2-text {
    text-align: center;
  }
  .hero2-text1 {
    text-align: center;
  }
  .hero2-actions {
    width: 100%;
    align-self: flex-start;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .hero2-actions {
    flex-direction: column;
  }
  .hero2-container1 {
    width: 100%;
  }
  .hero2-button {
    width: 100%;
  }
  .hero2-container2 {
    width: 100%;
  }
  .hero2-button1 {
    width: 100%;
  }
}

.timeline3-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.timeline3-container01 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.timeline3-text {
  text-align: center;
}
.timeline3-timeline-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.timeline3-step1 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container02 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress0 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container03 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress001 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container04 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text02 {
  text-align: center;
}
.timeline3-step2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container05 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress002 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container06 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress003 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container07 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text04 {
  text-align: center;
}
.timeline3-step3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container08 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress004 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container09 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress005 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container10 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text06 {
  text-align: center;
}
.timeline3-step4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container11 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress006 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container12 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress007 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container13 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text08 {
  text-align: center;
}
.timeline3-step5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.timeline3-container14 {
  gap: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.timeline3-progress008 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container15 {
  width: 12px;
  height: 12px;
  margin: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-round);
  background-color: #000000;
}
.timeline3-progress009 {
  flex: 1;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: #000000;
}
.timeline3-container16 {
  gap: var(--dl-space-space-halfunit);
  width: auto;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.timeline3-text10 {
  text-align: center;
}
@media (max-width: 767px) {
  .timeline3-timeline-container {
    flex-direction: column;
  }
  .timeline3-step1 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container02 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress0 {
    display: none;
  }
  .timeline3-progress001 {
    height: 100%;
  }
  .timeline3-container04 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text02 {
    text-align: left;
  }
  .timeline3-step2 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container05 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress002 {
    display: none;
  }
  .timeline3-progress003 {
    height: 100%;
  }
  .timeline3-container07 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text04 {
    text-align: left;
  }
  .timeline3-step3 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container08 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress004 {
    display: none;
  }
  .timeline3-progress005 {
    height: 100%;
  }
  .timeline3-container10 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text06 {
    text-align: left;
  }
  .timeline3-step4 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container11 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress006 {
    display: none;
  }
  .timeline3-progress007 {
    height: 100%;
  }
  .timeline3-container13 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text08 {
    text-align: left;
  }
  .timeline3-step5 {
    height: auto;
    align-items: flex-start;
    flex-direction: row;
  }
  .timeline3-container14 {
    top: 0px;
    left: 0px;
    width: auto;
    height: 100%;
    position: absolute;
    flex-direction: column;
  }
  .timeline3-progress008 {
    display: none;
  }
  .timeline3-progress009 {
    height: 100%;
  }
  .timeline3-container16 {
    height: auto;
    align-items: flex-start;
    padding-top: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .timeline3-text10 {
    text-align: left;
  }
}

.testimonial6-max-width {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.testimonial6-slider {
  width: 100%;
  display: inline-block;
  position: relative;
}
.testimonial6-slider-slide {
  gap: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial6-card {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text {
  text-align: center;
}
.testimonial6-avatar {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text01 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-card1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text03 {
  text-align: center;
}
.testimonial6-avatar1 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image1 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text04 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-slider-slide1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial6-card2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text06 {
  text-align: center;
}
.testimonial6-avatar2 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image2 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text07 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-card3 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text09 {
  text-align: center;
}
.testimonial6-avatar3 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image3 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text10 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-slider-pagination {
  display: block;
}
.testimonial6-slider1 {
  width: 100%;
  display: none;
  position: relative;
  align-self: center;
}
.testimonial6-slider-slide2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial6-card4 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-logo {
  height: 2rem;
}
.testimonial6-text12 {
  text-align: center;
}
.testimonial6-avatar4 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image4 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text13 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-slider-slide3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial6-card5 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-logo1 {
  height: 2rem;
}
.testimonial6-text16 {
  text-align: center;
}
.testimonial6-avatar5 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image5 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content5 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text17 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-slider-slide4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial6-card6 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-logo2 {
  height: 2rem;
}
.testimonial6-text20 {
  text-align: center;
}
.testimonial6-avatar6 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image6 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text21 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-slider-slide5 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.testimonial6-card7 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.testimonial6-logo3 {
  height: 2rem;
}
.testimonial6-text25 {
  text-align: center;
}
.testimonial6-avatar7 {
  gap: var(--dl-space-space-unit);
  width: 300px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.testimonial6-avatar-image7 {
  width: 56px;
  height: 56px;
}
.testimonial6-avatar-content7 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.testimonial6-text26 {
  font-style: normal;
  font-weight: 600;
}
.testimonial6-slider-pagination1 {
  display: block;
}
@media (max-width: 1200px) {
  .testimonial6-card3 {
    height: 388px;
    padding-bottom: 0px;
  }
  .testimonial6-text09 {
    margin-top: 22px;
  }
}
@media (max-width: 767px) {
  .testimonial6-slider {
    display: none;
  }
  .testimonial6-slider-slide {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial6-slider-slide1 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial6-slider1 {
    display: flex;
  }
  .testimonial6-slider-slide2 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial6-slider-slide3 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial6-slider-slide4 {
    padding: var(--dl-space-space-threeunits);
  }
  .testimonial6-slider-slide5 {
    padding: var(--dl-space-space-threeunits);
  }
}
@media (max-width: 479px) {
  .testimonial6-slider-slide {
    padding: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide1 {
    padding: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide2 {
    padding: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide3 {
    padding: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide4 {
    padding: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .testimonial6-slider-slide5 {
    padding: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
}

.footer31-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer31-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer31-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer31-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer31-image1 {
  height: 2rem;
}
.footer31-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer31-links1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer31-link1 {
  text-decoration: none;
}
.footer31-link2 {
  text-decoration: none;
}
.footer31-link3 {
  text-decoration: none;
}
.footer31-link4 {
  text-decoration: none;
}
.footer31-link5 {
  text-decoration: none;
}
.footer31-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer31-social-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer31-link {
  display: contents;
}
.footer31-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer31-link1 {
  display: contents;
}
.footer31-icon2 {
  text-decoration: none;
}
.footer31-link2 {
  display: contents;
}
.footer31-icon4 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer31-link3 {
  display: contents;
}
.footer31-icon6 {
  text-decoration: none;
}
.footer31-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer31-credits1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer31-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer31-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer31-link11 {
  text-decoration: none;
}
.footer31-link12 {
  text-decoration: none;
}
.footer31-link13 {
  text-decoration: none;
}
@media (max-width: 991px) {
  .footer31-logo {
    width: auto;
  }
}
@media (max-width: 767px) {
  .footer31-content {
    flex-direction: column;
  }
  .footer31-row {
    flex-direction: column;
  }
  .footer31-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .footer31-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer31-content {
    width: 100%;
  }
  .footer31-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer31-links1 {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-testimonial6 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-footer8 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
