<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Johann Kramer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/logo_icon.ico"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./features22.css" rel="stylesheet" />
      <div class="features22-layout349 thq-section-padding">
        <div class="features22-max-width thq-section-max-width">
          <div class="features22-container">
            <h2 class="thq-heading-2"><span>Projekte</span></h2>
            <span class="features22-text01 thq-body-small">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique. Duis
                cursus, mi quis viverra ornare, eros dolor interdum nulla.
              </span>
            </span>
          </div>
          <div class="features22-container1 thq-grid-4">
            <div class="features22-card thq-card">
              <img
                alt="Computer Science Articles Image"
                src="https://images.unsplash.com/photo-1705247372456-b6ae4b54cc90?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image thq-img-round"
              />
              <h2 class="thq-heading-2">
                <span>Informatik (Computer Science) Articles</span>
              </h2>
              <span class="features22-text03 thq-body-small">
                <span>
                  Explore a collection of insightful articles on various topics
                  related to computer science, including programming languages,
                  algorithms, and software development.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card1 thq-card">
              <img
                alt="Photography Galleries Image"
                src="https://images.unsplash.com/photo-1568046772612-8bb5afe37e51?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image1 thq-img-round"
              />
              <h2 class="thq-heading-2">
                <span>Fotografie (Photography) Galleries</span>
              </h2>
              <span class="features22-text05 thq-body-small">
                <span>
                  Immerse yourself in stunning photography galleries showcasing
                  landscapes, portraits, and creative compositions captured by
                  Johann Kramer.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link1 button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card2 thq-card">
              <img
                alt="Author's Insights Image"
                src="https://images.unsplash.com/photo-1516101922849-2bf0be616449?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image2 thq-img-round"
              />
              <h1 class="thq-heading-2"><span>Author's Insights</span></h1>
              <span class="features22-text07 thq-body-small">
                <span>
                  Gain valuable insights and perspectives from Johann Kramer on
                  the intersection of computer science and photography, along
                  with personal experiences and reflections.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link2 button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card3 thq-card">
              <img
                alt="Interactive Tutorials Image"
                src="https://images.unsplash.com/photo-1558459654-c430be5b0a44?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image3 thq-img-round"
              />
              <h1 class="thq-heading-2"><span>Interactive Tutorials</span></h1>
              <span class="features22-text09 thq-body-small">
                <span>
                  Engage in interactive tutorials that cover a range of topics
                  in computer science and photography, designed to enhance your
                  skills and knowledge.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link3 button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card4 thq-card">
              <img
                alt="Behind-the-Scenes Content Image"
                src="https://images.unsplash.com/photo-1611056156281-dff875aef9da?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image4 thq-img-round"
              />
              <h1 class="thq-heading-2"><span>Community Forums</span></h1>
              <span class="features22-text11 thq-body-small">
                <span>
                  Join vibrant community forums to discuss the latest trends,
                  share tips and tricks, and connect with fellow enthusiasts
                  passionate about Informatik and Fotografie.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link4 button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card5 thq-card">
              <img
                alt="Behind-the-Scenes Content Image"
                src="https://images.unsplash.com/photo-1611056156281-dff875aef9da?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image5 thq-img-round"
              />
              <h1 class="thq-heading-2">
                <span>Behind-the-Scenes Content</span>
              </h1>
              <span class="features22-text13 thq-body-small">
                <span>
                  Get exclusive access to behind-the-scenes content, including
                  the making of computer science projects and the creative
                  process behind captivating photographs.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link5 button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card6 thq-card">
              <img
                alt="Resource Recommendations Image"
                src="https://images.unsplash.com/photo-1608742213509-815b97c30b36?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMHw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image6 thq-img-round"
              />
              <h1 class="thq-heading-2">
                <span>Resource Recommendations</span>
              </h1>
              <span class="features22-text15 thq-body-small">
                <span>
                  Discover curated lists of recommended resources, such as
                  books, tools, and websites, to further your knowledge in both
                  computer science and photography domains.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link6 button"
              >
                <span>Button</span>
              </a>
            </div>
            <div class="features22-card7 thq-card">
              <img
                alt="Behind-the-Scenes Content Image"
                src="https://images.unsplash.com/photo-1611056156281-dff875aef9da?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcxNTUyNzAzMXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1400"
                class="features22-image7 thq-img-round"
              />
              <h1 class="thq-heading-2">
                <span>Collaboration Opportunities</span>
              </h1>
              <span class="features22-text17 thq-body-small">
                <span>
                  Explore collaboration opportunities with Johann Kramer for
                  projects that bridge the gap between Informatik and
                  Fotografie, fostering creativity and innovation.
                </span>
              </span>
              <a
                href="https://asd"
                target="_blank"
                rel="noreferrer noopener"
                class="features22-link7 button"
              >
                <span>Button</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
