.footer32-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer32-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer32-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer32-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer32-image1 {
  height: 2rem;
}
.footer32-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer32-link1 {
  text-decoration: none;
}
.footer32-link2 {
  text-decoration: none;
}
.footer32-link3 {
  text-decoration: none;
}
.footer32-link4 {
  text-decoration: none;
}
.footer32-link5 {
  text-decoration: none;
}
.footer32-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer32-social-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer32-link {
  display: contents;
}
.footer32-icon {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer32-link1 {
  display: contents;
}
.footer32-icon2 {
  text-decoration: none;
}
.footer32-link2 {
  display: contents;
}
.footer32-icon4 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer32-link3 {
  display: contents;
}
.footer32-icon6 {
  text-decoration: none;
}
.footer32-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer32-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer32-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer32-link11 {
  text-decoration: none;
}
.footer32-link12 {
  text-decoration: none;
}
.footer32-link13 {
  text-decoration: none;
}
@media(max-width: 991px) {
  .footer32-logo {
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer32-content {
    flex-direction: column;
  }
  .footer32-row {
    flex-direction: column;
  }
  .footer32-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer32-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer32-content {
    width: 100%;
  }
  .footer32-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
