<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Johann Kramer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Noto Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="shortcut icon"
      href="public/logo_icon.ico"
      type="icon/png"
      sizes="32x32"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial6.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial6-max-width thq-section-max-width">
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="testimonial6-slider swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide swiper-slide"
              >
                <div class="testimonial6-card">
                  <p class="testimonial6-text thq-body-large">
                    <span>
                      Du bist nicht nur ein Klassensprecher, du bist ein Freund,
                      der immer für uns da ist. Dein Engagement und deine
                      Unterstützung sind unbezahlbar.
                    </span>
                  </p>
                  <div class="testimonial6-avatar">
                    <img
                      alt="Anoym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content">
                      <span class="testimonial6-text01 thq-body-small">
                        <span>Anonym</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Sehr enger Freund</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="testimonial6-card1">
                  <p class="testimonial6-text03 thq-body-large">
                    <span>
                      Ich habe Sie noch nie zuvor gesehen, aber ich muss sagen,
                      Ihr Enthusiasmus und Ihr Interesse an politischen Themen
                      sind bemerkenswert. Sie sind definitiv jemand, den man im
                      Auge behalten sollte.
                    </span>
                  </p>
                  <div class="testimonial6-avatar1">
                    <img
                      alt="Anonym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image1 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content1">
                      <span class="testimonial6-text04 thq-body-small">
                        <span>Anonym</span>
                      </span>
                      <span class="thq-body-small"><span>Fremder</span></span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide1 swiper-slide"
              >
                <div class="testimonial6-card2">
                  <p class="testimonial6-text06 thq-body-large">
                    <span>
                      Ich erinnere mich noch gut an den kleinen Johann, der
                      schon immer so neugierig und voller Energie war. Jetzt
                      sehe ich, wie er diese Eigenschaften in seinem
                      vielseitigen Engagement einsetzt. Als Klassensprecher,
                      Fotograf, Programmierer und politisch interessierter
                      junger Mann ist er ein wahres Vorbild. Ich bin so stolz
                      auf ihn und freue mich darauf, zu sehen, was die Zukunft
                      für ihn bereithält.
                    </span>
                  </p>
                  <div class="testimonial6-avatar2">
                    <img
                      alt="Anonym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image2 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content2">
                      <span class="testimonial6-text07 thq-body-small">
                        <span>Oma</span>
                      </span>
                      <span class="thq-body-small"><span>Familie</span></span>
                    </div>
                  </div>
                </div>
                <div class="testimonial6-card3">
                  <p class="testimonial6-text09 thq-body-large">
                    <span>
                      Ich bewundere Johann für seine Fähigkeit, das Leben in all
                      seinen Facetten zu genießen und gleichzeitig Verantwortung
                      zu übernehmen. Er ist ein Freund, auf den man sich
                      verlassen kann, und seine positive Einstellung ist
                      ansteckend. Ich bin froh, ihn in meinem Leben zu haben.
                    </span>
                  </p>
                  <div class="testimonial6-avatar3">
                    <img
                      alt="Anonym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image3 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content3">
                      <span class="testimonial6-text10 thq-body-small">
                        <span>Anonym</span>
                      </span>
                      <span class="thq-body-small"><span>Freund</span></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial6-slider-pagination swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
          <div
            data-thq="slider"
            data-loop="true"
            data-autoplay="true"
            data-navigation="true"
            data-pagination="true"
            class="testimonial6-slider1 swiper"
          >
            <div data-thq="slider-wrapper" class="swiper-wrapper">
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide2 swiper-slide"
              >
                <div class="testimonial6-card4">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo"
                  />
                  <span class="testimonial6-text12 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar4">
                    <img
                      alt="Anoym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image4 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content4">
                      <span class="testimonial6-text13 thq-body-small">
                        <span>Author Name</span>
                        <span>Anonym</span>
                      </span>
                      <span class="thq-body-small">Position, Company name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide3 swiper-slide"
              >
                <div class="testimonial6-card5">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo1"
                  />
                  <span class="testimonial6-text16 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar5">
                    <img
                      alt="Anonym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image5 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content5">
                      <span class="testimonial6-text17 thq-body-small">
                        <span>Author Name</span>
                        <span>Anonym</span>
                      </span>
                      <span class="thq-body-small">Position, Company name</span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide4 swiper-slide"
              >
                <div class="testimonial6-card6">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo2"
                  />
                  <span class="testimonial6-text20 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar6">
                    <img
                      alt="Anonym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image6 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content6">
                      <span class="testimonial6-text21 thq-body-small">
                        <span>Author Name</span>
                        <span>Oma</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Position, Company name</span>
                        <span>Familie</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div
                data-thq="slider-slide"
                class="testimonial6-slider-slide5 swiper-slide"
              >
                <div class="testimonial6-card7">
                  <img
                    alt="Company Logo"
                    src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                    class="testimonial6-logo3"
                  />
                  <span class="testimonial6-text25 thq-body-large">
                    Choose from our variety of pricing plans, including Basic,
                    Business, and Enterprise subscriptions, each offering a
                    range of features. Start today!
                  </span>
                  <div class="testimonial6-avatar7">
                    <img
                      alt="Anonym"
                      src="https://st3.depositphotos.com/13159112/17145/v/450/depositphotos_171453724-stock-illustration-default-avatar-profile-icon-grey.jpg"
                      class="testimonial6-avatar-image7 thq-img-round thq-img-ratio-1-1"
                    />
                    <div class="testimonial6-avatar-content7">
                      <span class="testimonial6-text26 thq-body-small">
                        <span>Author Name</span>
                        <span>Anonym</span>
                      </span>
                      <span class="thq-body-small">
                        <span>Position, Company name</span>
                        <span>Freund</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              data-thq="slider-pagination"
              class="testimonial6-slider-pagination1 swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal"
            >
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
              <div
                data-thq="slider-pagination-bullet"
                class="swiper-pagination-bullet"
              ></div>
            </div>
            <div data-thq="slider-button-prev" class="swiper-button-prev"></div>
            <div data-thq="slider-button-next" class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
